@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/content/content.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/button/button.css');
/* Стили основного контента */
.application {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Уменьшили расстояние между элементами */
  margin: 0 auto;
}

.application__form {
  max-width: 800px;
  margin: 0 auto;
}

.application__field {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px; /* Уменьшили отступы между полями */
}

.application__input {
  border: 2px solid #415a77;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%; /* Фиксированная ширина */
  box-sizing: border-box;
}

.application__input_type_description {
  resize: vertical; /* Запрещает изменение ширины */
  width: 100%; /* Фиксированная ширина */
  max-width: 600px; /* При необходимости установить максимальную ширину */
  min-height: 100px; /* Задайте подходящую высоту */
  max-height: 250px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  border: 2px solid #415a77;
  border-radius: 5px;
  box-sizing: border-box;
}

.application__input_type_error {
  border: 1px solid #e63946;
}

.application__input:focus {
  outline: none;
  border-color: #778da9;
}

.application__error {
  color: #e63946;
  opacity: 0;
  font-size: 0.875rem;
  min-height: 1.5em; /* Резервируем место */
  width: 100%; /* Ширина ошибки совпадает с input */
  box-sizing: border-box;
}

.application__error_visible {
  opacity: 1;
}

/* Кнопка "Оставить заявку" */
.application__button {
  width: 100%;
  background-color: #415a77;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-align: center; /* Центрирование текста */
}

.application__button:hover {
  opacity: 0.8;
}

.application__button_disabled {
  opacity: 0.5;
  background-color: #e0e1dd;
  color: #415a77;
  border: 2px solid #415a77;
  pointer-events: none;
  user-select: none;
}


/* Основной стиль для плашки */
.application__message-box {
  background-color: #415a77; /* Начальный синий цвет */
  color: white; /* Белый цвет текста */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  text-align: left;
  display: flex;
  gap: 10px;
}

/* Стиль для плашки при успешной отправке */
.application__message-box_type_success {
  background-color: #2a9d8f; /* Зелёный цвет фона для успешной отправки */
}

/* Стиль для плашки при ошибке */
.application__message-box_type_error {
  background-color: #e63946; /* Красный цвет фона для ошибки */
}

.application__status{
  margin: 0;
  font-weight: 600;
}

.application__response {
  margin: 0;
}

.disable-input {
  cursor: not-allowed; /* Курсор "запрещено" */
  outline: none; /* Убираем подсветку при фокусе */
  opacity: 0.5;
}

.content__header {
  padding: 10px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.content__title {
  grid-column: 2;
  text-align: center;
  font-size: 24px;
}

.login-button {
  height: 50px;
  align-self: center;
  margin: 0;
  margin-left: auto;
  grid-column: 3;
  background-color: #2b3a55;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.back-button {
  height: 50px;
  align-self: center;
  margin: 0;
  margin-right: auto;
  grid-column: 1;
  background-color: #2b3a55;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
